
<app-nav-bar></app-nav-bar>
<app-side-bar></app-side-bar>
<div class="flex h-screen bg-gray-200" :class="{ 'hidden': !isSidebarOpen }">
    <div class="flex flex-col flex-shrink-0 bg-white border-r">
        <div class="flex-shrink-0">
            <!-- Sidebar content -->
         <!-- <app-side-bar></app-side-bar> -->
        </div>
    </div>

    <!-- Page Content -->
<!-- home.component.html -->
<div class="input-group flex align-items-center justify-end mr-28">
  <input [ngStyle]="{ 'height' : '38px','background-color': '#f8f9fa', 'border': '1px solid #ced4da', 'border-radius': '5px'  }" placeholder="Search" type="text" [(ngModel)]="searchText" class="input" (input)="search()" >
</div>
<div class="container mx-auto mt-10">
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr>
          <th class="border-b p-2 text-sm">callprovider</th>
            <th class="border-b p-7 text-sm">Date</th>
            <th class="border-b p-2 text-sm">Stock Name</th>
            <th class="border-b p-2 text-sm">At Price</th>
            <th class="border-b p-2 text-sm">Quantity</th>
            <th class="border-b p-2 text-sm">Stock Loss</th>
            <th class="border-b p-2 text-sm">Target</th>
            <th class="border-b p-2 text-sm">Exit Price</th>
            <th class="border-b p-2 text-sm">Profit/Loss</th>
            <th class="border-b p-2 text-sm">Percentage</th>
        </tr>
      </thead>
      <tbody>
        <!-- Add your data rows here -->
        <tr *ngFor="let trades of filteredtrade">
          <ng-container *ngIf="trades.tradeType == 'swingtrade'">
            <td class="border-b p-1 text-sm">{{ trades.userId.firstName }} {{ trades.userId.lastName }}</td>
            <td class="border-b p-1 text-sm">{{ trades.date | date:'yyyy-MM-dd' }}</td>

            <td class="border-b p-1 text-sm">{{trades.stockName}}</td>
            <td class="border-b p-1 text-sm">{{trades.atThePrice}}</td>
            <td class="border-b p-1 text-sm">{{trades.quantity}}</td>
            <td class="border-b p-1 text-sm">{{trades.stopLoss}}</td>
            <td class="border-b p-1 text-sm">{{trades.target}}</td>
            <td class="border-b p-1 text-sm">100</td>
            <td class="border-b p-1 text-sm text-red-500">-100</td>
            <td class="border-b p-1 text-sm text-red-500">-10%</td>
          </ng-container>
          </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
  <div class="ml-8 m-4 bg-slate-200 flex">

    <h1> "Stock trading involves buying and selling shares of publicly traded companies. Traders seek to profit from fluctuations in stock prices, often relying on technical analysis and fundamental analysis to make informed decisions. The stock market is influenced by factors such as company performance, economic indicators, and global events."</h1>
  </div>
      <div class="ml-8   m-4 bg-pink-100 flex">

            <h1> "Stock trading involves buying and selling shares of publicly traded companies. Traders seek to profit from fluctuations in stock prices, often relying on technical analysis and fundamental analysis to make informed decisions. The stock market is influenced by factors such as company performance, economic indicators, and global events."</h1>
          </div>
          <div class="ml-8   m-4 bg-slate-200">

            <h1> "Stock trading involves buying and selling shares of publicly traded companies. Traders seek to profit from fluctuations in stock prices, often relying on technical analysis and fundamental analysis to make informed decisions. The stock market is influenced by factors such as company performance, economic indicators, and global events."</h1>
          </div>
</div>

<!-- Toggle Sidebar Button -->
<!-- <button [@click]="toggleSidebar" class="fixed z-10 bottom-4 right-4 p-2 bg-blue-500 text-white rounded-full shadow-lg">

    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
</button> -->
<!-- <router-outlet></router-outlet> -->


<app-footer></app-footer>
