<app-admin-navbar></app-admin-navbar>
<app-admin-sidebar></app-admin-sidebar>
<!-- admin-user-list.component.html -->
<div class="container mx-auto mt-1">
    <h2 class="text-l font-bold ">User List</h2>

    <div class="">
      <div class="input-group flex items-center justify-center my-1">
        <input style="height: 38px;" placeholder="Search" type="text" [(ngModel)]="searchText" class="input" (input)="search()">
        <!-- <button class="btn btn-outline-secondary" type="button" @click="search()">Search</button> -->
        <button class="ml-2 px-4 py-2 bg-blue-500 text-white rounded" (click)="addUser()">Add</button>
      </div>
    </div>
    
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr>
          <th class="border-b p-2 text-sm">First Name</th>
          <th class="border-b p-2 text-sm">Last Name</th>
          <th class="border-b p-2 text-sm">Email</th>
          <th class="border-b p-2 text-sm">Phone Number</th>
          <th class="border-b p-2 text-sm">Role</th>
          <th class="border-b p-2 text-sm">Is Blocked</th>
      
          <th class="border-b p-2 text-sm">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Replace the following with Angular *ngFor loop to iterate through users -->
        <ng-container *ngFor="let userGroup of filteredUsers">
            <tr *ngFor="let user of userGroup.data">
          <td class="border-b p-2 text-sm">{{ user.firstName }}</td>
          <td class="border-b p-2 text-sm">{{ user.lastName }}</td>
          <td class="border-b p-2 text-sm">{{ user.email }}</td>
          <td class="border-b p-2 text-sm">{{ user.phoneNumber }}</td>
          <td class="border-b p-2 text-sm">{{ user.role }}</td>
          <td class="border-b p-2 text-sm"(click)="Blocked(user.isBlocked,user._id)">{{ user.isBlocked  }}</td>
       
          <td class="border-b p-2 text-sm">
            <button class="text-blue-500 hover:text-blue-700" (click)="editUser(user, user._id)">Edit</button>
          </td>
        </tr>
    </ng-container>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
  
