<app-nav-bar style="opacity: 1;"></app-nav-bar>

<app-profilesidebar></app-profilesidebar>



<!-- <div class="bg-gray-100 flex items-start ml-28 mt-18 justify-center pb-6 "> -->
<div class=" bg-gray-100 p-2 rounded-md shadow-md sm:ml-44  ">

  <div class="text-center max-w-md bg-gradient-to-r from-blue-300 to-blue-500 p-3 rounded-md shadow-md flex items-center mb-5 sm:mt-20 md:ml-44">
    <h1 class="font-bold text-white pr-4 ">You can start video call here</h1>

    <!-- Your existing HTML code -->
    <div *ngIf="matchingAppointmentTime !== null; else nextAppointment" class="mt-4">
      <button *ngIf="!receivedData" (click)="startAppointment()" class="bg-green-500 text-white px-4 py-2 rounded-md"(click)="createRoom(matchingAppointmentTime)">Start</button>
      <button *ngIf="receivedData"(click)="link()">Waiting...</button>
    </div>

    <ng-template #nextAppointment class="mt-4">
      <p class="text-gray-600">Starts on: {{ nextAppointmentTime }}</p>
    </ng-template>

  </div>
  <!-- </div> -->
  <!-- component -->
  <!-- This is an example component -->
  <div class=" shadow-lg rounded-lg bg-black z-50">


    <div class="flex flex-row justify-between bg-white">

      <!-- chat list -->
      <div class="flex flex-col w-1/5 border-r-2 overflow-y-auto">
        <div *ngFor="let detail of appointmentDetails">
          <div class="text-lg font-semibold " (click)="openChat(detail.receiverid)">
            {{ detail.firstName }} {{ detail.lastName }}
          </div>
          <hr />
        </div>
      </div>
      <!-- end chat list -->
      <!-- message -->
      <div class="fixed-height-container w-4/5">
        <div *ngIf="!chat">
          <h1 class="text-center text-blue-400 mt-10 font-bold">This is your chat area</h1>
        </div>
        <div *ngIf="chat" class="w-full px-5 flex flex-col justify-between">
          <ng-container *ngFor="let chat of chats ">
         
            <div *ngFor="let message of chat.messages" class="flex mb-4">
              <!-- <img *ngIf="chat.sender !== activeChatUserId" src="https://source.unsplash.com/vpOeXr5wmR4/600x600"
                class="object-cover h-8 w-8 rounded-full mr-2" alt="" /> -->
          
                <div [ngClass]="{
                  'ml-auto bg-blue-400 text-white rounded-bl-3xl rounded-tl-3xl rounded-tr-xl': message.sender !== activeChatReceiverid,
                  'mr-auto bg-gray-400 text-white rounded-br-3xl rounded-tr-3xl rounded-tl-xl': message.sender == activeChatReceiverid
                }" class="py-3 px-4 rounded-xl mb-2">
                  {{ message.text }}
                </div>

              <ng-container *ngIf="chat.sender === activeChatUserId">
                <!-- Display sender's avatar on the right side -->
                <!-- <img src="https://source.unsplash.com/vpOeXr5wmR4/600x600" class="object-cover h-8 w-8 rounded-full ml-2" alt="" /> -->
              </ng-container>
            </div>
          </ng-container>
          


          <div class="py-5 flex">
            <input [(ngModel)]="messageInput" class="w-full bg-gray-300 py-5 px-3 rounded-xl" type="text"
              placeholder="Type your message here..." />
            <button class="ml-3 px-4 py-2 bg-blue-500 text-white rounded-md" (click)="sendMessage()">Send</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>






        <app-footer></app-footer>