<div class="pt-6 text-gray-500 pt-10 sm:pt-20 ">
    <!-- Your sidebar content goes here -->
    <a href="/user/home" class="px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-300">Holding</a>
    <a href="/user/swingTrade" class="px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-300">Swing Trade</a>
    <a href="/user/optionBuying" class="px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-300">Option
        buying</a>
    <a href="/user/optionSelling" class="px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-300">Option
        selling</a>
</div>