<app-nav-bar style="opacity: 1;"></app-nav-bar>

<app-profilesidebar></app-profilesidebar>





<div class="  bg-white border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-90">
   
    <div class="flex flex-col items-center pb-10 "(change)="onFileSelected($event)">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/assets/image/2.png" alt="Bonnie image"/>
     
        <div class="text-center">
            <p class="text-lg font-semibold">{{firstName }}Jaifer AC</p>
            <p class="text-gray-500">jaiferacac@gmail.com</p>
            <p class="text-gray-500">7034822462</p>
            <p class="text-gray-500">Role: User</p>
        </div>
        <div class="flex mt-4 md:mt-6">
            <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Edit</a>
            <button class="btn btn-warning" (click)="onSubmit()">Upload</button>
            <!-- <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700 ms-3">Message</a> -->
        </div>
    </div>
</div>








