#uniqueId {
    width: 100vw;
    height: 100vh;
    background-image: url(./../assets/image/generative-ai-stock-market-chart-lines-financial-graph-on-technology-abstract-background-represent-financial-crisis-financial-meltdown-technology-concept-trading-market-con.jpg);
background-size: cover;

 
  }