<app-nav-bar></app-nav-bar>
<app-profilesidebar></app-profilesidebar>
<!-- <app-nav-bar></app-nav-bar> -->
<section class="bg-white dark:bg-gray-900 ">
    <div class="py-8 sm:py-16 px-4 mx-auto max-w-screen-md ml:10 sm:ml-">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white mt-14">Contact
            Us</h2>
        <p class="mb-8 sm:mb-10 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Got a technical
            issue? Want to send feedback about a beta feature? Need details about our Business plan? Let us know.</p>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="space-y-8">
            <div>
                <label for="subject"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
                <input type="text" id="subject" formControlName="subject"
                    class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                    placeholder="Let us know how we can help you" required>
                <div *ngIf="contactForm.get('subject')?.hasError('required')" class="text-red-500 text-sm mt-1">Subject
                    is required</div>
                <div *ngIf="contactForm.get('subject')?.hasError('minlength')" class="text-red-500 text-sm mt-1">Subject
                    must be at least 5 characters</div>

            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your
                    message</label>
                <textarea id="message" formControlName="message" rows="6"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Leave a comment..."></textarea>
                <div *ngIf="contactForm.get('message')?.hasError('required')" class="text-red-500 text-sm mt-1">Message
                    is required</div>
                <div *ngIf="contactForm.get('message')?.hasError('minlength')" class="text-red-500 text-sm mt-1">Message
                    must be at least 10 characters</div>
            </div>
            <button type="submit"
                class=" py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 bg-blue-900">Send
                message</button>
        </form>
    </div>
</section>