<div class="py-4 text-gray-500">
    <!-- Your sidebar content goes here -->
    <a href="/admin/dashboard" class="px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-300">DashBoard</a>
    <a href="/admin/users" class="px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-300">Users</a>
    <a href="/admin/market" class="px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-300">Market</a>
    <a href="/admin/message" class="px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-300">messages</a>
</div>
