<div class="py-4 text-gray-500">
    <!-- Your sidebar content goes here -->
    <a href="/admin/users" class="px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-300">Users</a>
    <a href="/admin/callProvider" class="px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-300">Call Provider</a>
    <a href="/admin/Request" class="px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-300">Request</a>
    <a href="/admin/market" class="px-4 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-300">Market</a>
</div>
