
<app-nav-bar></app-nav-bar>
<div class="flex h-screen bg-gray-200" :class="{ 'hidden': !isSidebarOpen }">
    <div class="flex flex-col flex-shrink-0 bg-white border-r">
        <div class="flex-shrink-0">
            <!-- Sidebar content -->
          <app-side-bar></app-side-bar>
          <app-side-bar></app-side-bar>
          

<div class="container mx-auto mt-10">
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr>
            <!-- <th class="border-b p-2 text-sm">#</th> -->
            <th class="border-b p-2 text-sm">callprovider</th>
            <th class="border-b p-7 text-sm">Date</th>
            <th class="border-b p-2 text-sm">Stock Name</th>
            <th class="border-b p-2 text-sm">At Price</th>
            <th class="border-b p-2 text-sm">Quantity</th>
            <th class="border-b p-2 text-sm">Stock Loss</th>
            <th class="border-b p-2 text-sm">Target</th>
            <th class="border-b p-2 text-sm">Exit Price</th>
            <th class="border-b p-2 text-sm">Profit/Loss</th>
            <th class="border-b p-2 text-sm">Percentage</th>
        </tr>
      </thead>
      <tbody>
        <!-- Add your data rows here -->
        
        <tr *ngFor="let trades of responseData">
          <ng-container *ngIf="trades.tradeType == 'holding'">
            <td class="border-b p-1 text-sm">{{ trades.userId.firstName }} {{ trades.userId.lastName }}</td>
            <td class="border-b p-1 text-sm">{{ trades.date | date:'yyyy-MM-dd' }}</td>

            <td class="border-b p-1 text-sm">{{trades.stockName}}</td>
            <td class="border-b p-1 text-sm">{{trades.atThePrice}}</td>
            <td class="border-b p-1 text-sm">{{trades.quantity}}</td>
            <td class="border-b p-1 text-sm">{{trades.stockName}}</td>
            <td class="border-b p-1 text-sm">{{trades.target}}</td>
            <td class="border-b p-1 text-sm">100</td>
            <td class="border-b p-1 text-sm text-red-500">-100</td>
            <td class="border-b p-1 text-sm text-red-500">-10%</td>
          </ng-container>
          </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
 
  </div>
  
</div>


<router-outlet></router-outlet>
